.profile__name-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}

@media screen and (max-width: 767px) {
  .profile__name-section {
    margin: 25px 0 10px 25px;
    gap: 10px;
    justify-content: center;
  }
}
